html, body {
  height: 100%
}

a {
  border-bottom: 2px solid #f4717b;
  color: #02006f;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid #02006f;
  color: #f4717b;
}

body {
  color: #02006f;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Solway, sans-serif;
  font-size: max(1em, 2vw);
  justify-content: space-around;
}

h1 {
  text-align: center;
}

img {
  margin-top: 5%;
  max-width: 80%;
}

li {
  margin: 5% 0;
  text-align: center;
  list-style-type: none;
}

input[type="email"], input[type="text"] {
  border: 1px solid #02006f;
  border-radius: 5px;
  font-size: 1em;
  padding: 0.5em;
  margin: 0.5em 0;
}

button {
  background-color: #f4717b;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1em;
  padding: 0.5em;
  margin: 0.5em 0;
}

input[type="submit"] {
  background-color: #02006f;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: Solway, sans-serif;
  font-size: 1em;
  margin: 0.5em 0;
  padding: 0.5em;
}

#mc_embed_signup_scroll {
  width: fit-content;
  margin: 3em auto;
}

.mc-field-group {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 28em;
}

.mce_inline_error {
  width: 100%;
}

.asterisk {
  color: #f4717b;
}

a[hreflang] {
  background-color: #02006f;
  border-bottom-left-radius: 100%;
  border: none;
  color: white;
  font-size: 0.85rem;
  line-height: 0;
  padding: 0 0.5rem 1.5rem 1.5rem;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

a[hreflang]:hover {
  background-color: #f4717b;
}


a[hreflang] img {
  display: inline-block;
  vertical-align: middle;
}
